################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Toci.PrimeNumbers/.vs/Toci.PrimeNumbers/DesignTimeBuild
/Toci.PrimeNumbers/Toci.PrimeNumbers/bin/Debug/net5.0
/Toci.PrimeNumbers/Toci.PrimeNumbers/obj
